<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>all information</title>
</head>
<body>

<center>
    <h2><b>Страница сo списком всех книг</b></h2>
    <h3>/books</h3>

    <div th:each="information : ${book}">
        <a th:href="@{/books/{id}(id=${information.getBookId()})}" th:text="${information.getBookName()}"></a>
    </div>

    <br/>
    <hr/>
    <a href="/books/new">Страница добавления книги</a>
    <br/>
    <hr/>
    <a href="/">Главная страница</a>
</center>

</body>
</html>