<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>


<center>
    <h2><b>Страница изменения книги</b></h2>
    <h3>/book/{id}/edit</h3>
</center>
<br/>

<form th:method="POST" th:action="@{/books/{id}(id=${book.getBookId()})}" th:object="${book}">
    <input name="_method" type="hidden" value="patch"/>
    <label for="bookName">Enter name:</label>
    <input name="bookName" type="text" th:field="*{bookName}" id="bookName"/>
    <div style="color: red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">BookName error</div>
    <br/>
    <label for="author">Author</label>
    <input name="author" type="text" th:field="*{author}" id="author"/>
    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
    <br/>
    <label for="year">Year</label>
    <input name="year" type="text" th:field="*{year}" id="year"/>
    <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</div>
    <br/>
    <br/>
    <input type="submit" value="Редактировать!"/>
</form>
</body>
</html>