<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Index html</title>
</head>
<body>
<center>
<h2>---------------------- Главная страница ----------------------</h2>
</center>

<br/>
<hr/>
<br/>
<a href="/people">Страница со списком всех людей</a>
<br>
<a href="/people/new">Добавить человека</a>
<br>
<a href="/books">Страница со списком всех книг</a>
<br>
<a href="/books/new">Добавить книгу</a>







<!--<br/>-->
<!--<a href="/first/hello">say hello</a>-->
<!--<br/>-->
<!--<a href="/first/goodbye?name=Serhii">say goodbye</a>-->

<!--<br/>-->
<!--<hr/>-->
<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; All person -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<br/>-->
<!--<a href="/people">show all person</a>-->
<!--<br/>-->
<!--<hr/>-->
<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; All Information -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<br/>-->
<!--<a href="/admin/book">show all information in table</a>-->
<!--<br/>-->
<!--<a href="/admin/book/new">form create one information</a>-->
<!--<br/>-->
<!--<hr/>-->
<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; Butch update people x1000 -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<br/>-->
<!--<a href="/test-batch-update">Перейди по ссылке для проверки update people x1000</a>-->
<!--<br/>-->

</body>
</html>